certifi==2017.11.5
chardet==3.0.4
coinmarketcap==4.1.1
future==0.16.0
idna==2.6
numpy==1.22.0
pandas==0.21.1
Pillow==5.0.0
pkg-resources==0.0.0
PySocks==1.6.8
python-dateutil==2.6.1
python-telegram-bot==9.0.0
pytz==2017.3
requests==2.18.4
requests-cache==0.4.13
six==1.11.0
urllib3==1.22
